<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Error" internalLogFile="{Logedir}\nlog-internal.txt">


	<variable name="Logedir" value="D:\SwathiRekha\CACIB\Log\UAEIPP_Outward_MTMX_Worker"/>
	<variable name="ArchiveDays" value="5"/>

	<targets>
    <target name="MTtoMXConversionWorker" xsi:type="File" layout="${longdate}|${level:uppercase=true}|${message}"
			   fileName="${Logedir}/MTtoMXConversionWorker/MTtoMXConversionWorker.txt" archiveAboveSize ="2000000"
			   archiveFileName="${Logedir}/MTtoMXConversionWorker/Archives/MTtoMXConversionWorker.{#}.txt"
			   archiveDateFormat="yyyy-MM-dd HH_mm_ss" archiveNumbering="Date" maxArchiveDays="${ArchiveDays}"
			   concurrentWrites="true" keepFileOpen="true" openFileCacheTimeout = "30"/>
		<target name="MXtoMXWorker" xsi:type="File" layout="${longdate}|${level:uppercase=true}|${message}"
			   fileName="${Logedir}/MXtoMXWorker/MXtoMXWorker.txt" archiveAboveSize ="2000000"
			   archiveFileName="${Logedir}/MXtoMXWorker/Archives/MXtoMXWorker.{#}.txt"
			   archiveDateFormat="yyyy-MM-dd HH_mm_ss" archiveNumbering="Date" maxArchiveDays="${ArchiveDays}"
			   concurrentWrites="true" keepFileOpen="true" openFileCacheTimeout = "30"/>
		<target name="ConversionWorker" xsi:type="File" layout="${longdate}|${level:uppercase=true}|${message}"
			   fileName="${Logedir}/ConversionWorker/ConversionWorker.txt" archiveAboveSize ="2000000"
			   archiveFileName="${Logedir}/ConversionWorker/Archives/ConversionWorker.{#}.txt"
			   archiveDateFormat="yyyy-MM-dd HH_mm_ss" archiveNumbering="Date" maxArchiveDays="${ArchiveDays}"
			   concurrentWrites="true" keepFileOpen="true" openFileCacheTimeout = "30"/>
		<target name="RepairQueueWorker" xsi:type="File" layout="${longdate}|${level:uppercase=true}|${message}"
			   fileName="${Logedir}/RepairQueueWorker/RepairQueueWorker.txt" archiveAboveSize ="2000000"
			   archiveFileName="${Logedir}/RepairQueueWorker/Archives/RepairQueueWorker.{#}.txt"
			   archiveDateFormat="yyyy-MM-dd HH_mm_ss" archiveNumbering="Date" maxArchiveDays="${ArchiveDays}"
			   concurrentWrites="true" keepFileOpen="true" openFileCacheTimeout = "30"/>
    <target name="Service" xsi:type="File" layout="${longdate}|${level:uppercase=true}|${message}"
			   fileName="${Logedir}/Service/Service.txt" archiveAboveSize ="2000000"
			   archiveFileName="${Logedir}/Service/Archives/Service.{#}.txt"
			   archiveDateFormat="yyyy-MM-dd HH_mm_ss" archiveNumbering="Date" maxArchiveDays="${ArchiveDays}"
			   concurrentWrites="true" keepFileOpen="true" openFileCacheTimeout = "30"/>
  </targets>
	<rules>
			<logger name="MTtoMXConversionWorkerLog" minlevel="Trace" writeTo="MTtoMXConversionWorker" />
		    <logger name="MXtoMXWorkerLog" minlevel="Trace" writeTo="MXtoMXWorker" />
		    <logger name="ConversionWorkerLog" minlevel="Trace" writeTo="ConversionWorker" />
			<logger name="RepairQueueWorkerLog" minlevel="Trace" writeTo="RepairQueueWorker" />
			<logger name="ServiceLog" minlevel="Trace" writeTo="Service" />
	</rules>
</nlog>